@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rubik:wght@300&display=swap');

:root {
    --dark-text: rgb(30, 27, 27);
    --light-text: rgb(255, 255, 255);
    --dark-bg: gray;
    --light-bg: white;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    height: 100vh;
    font-family: 'Rubik', sans-serif;

}

body .img {
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 110%;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: -1;
    filter: blur(0px);
}

p {
    display: inline;
}

button {
    border: none;
    background: transparent;
    color: #e85a4f;
}
.input-bar button{
    color: #116466;
}



.item-card button:hover{
    cursor: pointer;
    transform: scale(90%);
    color:#e93e32;
}
.input-bar button:hover{
    cursor: pointer;
    color:#054f51;
}
.flex {
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.card {
    border-radius: 10px;
    box-shadow: 5px 5px 10px -5px;
    background-color: var(--light-bg);
    padding: 20px;
}

.main-card {
    min-width: 320px;
    margin-top: 30px;
    max-height: 70%;
    overflow: auto;
    background-color: #f6fdfd;
}

input[type=text] {
    border: none;
    outline: none;
}

.input-bar {
    display: flex;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin: 20px 0;
    height: 50px;
}
.input-bar button{
    background-color: none;
    padding-right: 10px;
}
.input-bar i{
    height: 100%;
    font-size: 45px;
}
.input-bar .todo-input, .input-bar button{
    background-color:#14a76c6a;
}
.input-bar .todo-input {
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    width: 100%;
    margin-right: auto;
}

.item-card {
    display: flex;
    justify-content: start;
    height: 40px;
    background-color: #d0f4f4;
    padding: 5px;
    box-shadow: none;
    margin: 5px 0;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #054f51;
}

.item-card button {
    margin-left: auto;
}

.item-card i {
    font-size: 20px;

}

.container {
    padding: 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: #e85a4f;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
}

.nav-brand {
    margin-left: 30px;
    font-size: 35px;
    color: aliceblue;
}